.searchPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.recentSection {
  display: flex;
  flex-direction: column;
  margin-top: 46px;
}

.sectionLabel {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 1.88rem;
}

.recentList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.recentItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.3;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.username {
  font-weight: 700;
  font-size: 14px;
}

.searchPanel {
  margin-top: 2.44rem;
}

.searchInput {
  border: none;
  border-radius: 8px;
  background: #efefef;
  padding: 0.66rem 1rem;
}

.searchInput::placeholder {
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 300;
}
