.message {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: start;
}

.message.right {
  flex-direction: row-reverse;
}

.avatarWrapper {
  width: 1.75rem;
  height: 1.75rem;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.text {
  max-width: 55%;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  background-color: var(--color-background-input-primary);
}

.text.right {
  background-color: var(--color-background-dark);
  color: #fff;
}
