.message {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1.06rem;
  align-items: start;
}

.message.right {
  flex-direction: row-reverse;
}

.avatarWrapper {
  width: 1.75rem;
  height: 1.75rem;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.text {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  max-width: 397px;
  padding: 20px 18px;
  border-radius: 15px;
  color: var(--primary-color);
  background: #efefef;
}

.text.right {
  background: #4d00ff;
  color: var(--background-color);
}
