.chat {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.chatsHeader {
  height: 75px;
  padding: 1.5rem;
}

.chatsHeaderUsername {
  font-size: 1.25rem;
  font-weight: 700;
}
.chatsWrapper {
  width: 397px;
  border-right: 1px solid var(--border-color);
}

.chats {
  display: flex;
  flex-direction: column;
}

.emptyState {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--secondary-color);
  margin-left: 30%;
  min-height: 100%;
}

.emptyStateText {
  color: var(--secondary-color);
  font-size: 1.25rem;
  font-weight: 400;
}
