.formStyle {
  width: 268px;
}

.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 14px;
}

.inputStyle {
  height: 38px;
  padding-left: 8px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  color: #737373;
  background-color: #fafafa;
}
