.page {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 390px;
  border: 1px solid var(--border-color);
  border-start-start-radius: 3px;
  border-start-end-radius: 3px;
  padding: 25px 45px 85px;
  background-color: var(--background-color);
  text-align: center;
}

.illustration {
  width: 96px;
  height: 96px;
  margin: 0 auto 14px;
}

.illustration img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  margin-block: 0;
  margin-bottom: 12px;
}

.subtitle {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  margin: 0 0 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 60px;
}

.divider {
  position: relative;
  text-align: center;
  color: var(--secondary-color);
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: var(--border-color);
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.createAccount a {
  color: #262626;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  text-decoration: none;
  transition: all 0.2s ease;
}

.createAccount a:hover {
  color: var(--secondary-color);
}

.backLink {
  width: 100%;
  max-width: 390px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-end-start-radius: 3px;
  border-end-end-radius: 3px;
  background-color: var(--background-input-color);
  text-align: center;
  padding: 13px 10px;
}

.backLink a {
  text-decoration: none;
  color: #262626;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  transition: all 0.2s ease;
}

.backLink a:hover {
  color: var(--secondary-color);
}
