.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 74px;
}

.card {
  width: 350px;
  border-radius: 3px;
  border: 1px solid var(--border-color);
  padding: 30px 38px;
  text-align: center;
  background: var(--background-color);
  margin-bottom: 15px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: var(--secondary-color);
  line-height: 1.25;
  margin-top: -10px;
  margin-bottom: 38px;
}

.infoText {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  color: var(--secondary-color);
  margin-top: 27px;
  margin-bottom: 18px;
}

.policyText {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  color: var(--secondary-color);
  margin: 0 0 27px;
}

.card a {
  color: var(--link-color);
  text-decoration: none;
  transition: all 0.2s ease;
}

.card a:hover {
  color: var(--accent-color);
}
