/* .messenger {
} */

.header {
  height: 75px;
  padding: 1rem;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatarWrapper {
  height: 2.75rem;
  width: 2.75rem;
}
.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.username {
  font-weight: 600;
}

.userInfo {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 173px;
  margin: 0 auto;
}
.userInfoAvatarWrapper {
  width: 6rem;
  height: 6rem;
}
.userInfoAvatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.userInfoUsername {
  font-size: 1.25rem;
  font-weight: 600;
}
.userInfoFullname {
  font-size: 0.8rem;
  color: var(--color-text-secondary);
}
.userInfoButton {
  width: 100%;
}
.userInfoButton:hover {
  filter: brightness(0.95);
}

.date {
  margin-top: 5rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--color-text-secondary);
}
.messages {
  padding: 0 1rem;
  max-height: 500px;
  overflow-y: auto;
}

.form {
  margin-top: 67px;
  margin-bottom: 92px;
  padding: 0 1rem;
}

.input {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  height: 44px;
  border-radius: 1.38rem;
  width: 100%;
  color: #8e8e8e;
  background: var(--background-color);
  border-radius: 22px;
  border: 1px solid var(--border-color);
  padding: 13px 51px;
}

.input::placeholder {
  padding: 13px 0;
  color: #8e8e8e;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
}
