.exploreCard {
  cursor: pointer;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.imgWrapper {
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
