.sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 28px;
}

.navLogo {
  display: flex;
  justify-content: start;
  margin-bottom: 34px;
  margin-left: 25px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 25px;
  width: 100%;
  margin: 0 auto;
}

.link {
  display: flex;
  align-items: end;
  gap: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: var(--secondary-color);
  cursor: pointer;
  transition: color 0.2s;
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
}

.link:hover {
  color: var(--primary-color);
}

.profileLink {
  margin-top: 51px;
}

.icon {
  stroke-width: 2;
  width: 24px;
  height: 24px;
}

.active {
  color: var(--primary-color);
  font-weight: 600;
}
