.createPostModal {
  position: fixed;
  inset: 0;
  z-index: 15;
  display: flex;
  align-items: anchor-center;
  justify-content: center;
  padding: 24px;
  bottom: 85px;
}

.form {
  width: min(68.75rem, 100%);
  height: min(35.25rem, calc(100vh - 48px));
  border-radius: 12px;
  background-color: #fff;

  display: grid;
  position: relative;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "fileUpload textEditor";
}

.header {
  grid-area: header;
  padding: 0.75rem 1rem;
  border-bottom: 0.06rem solid var(--border-color);
  display: flex;
  align-items: center;
  gap: 8px;
}

.title {
  flex: 1 1 auto;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
}

.submit {
  flex: 0 0 auto;
  border: none;
  color: var(--accent-color);
  background-color: var(--background-color);
  font-size: 14.08px;
  font-weight: 600;
  line-height: 1.3;
  cursor: pointer;
  outline: none;
}
.submit:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.uploadWrapper {
  grid-area: fileUpload;
  border-right: 0.06rem solid var(--border-color);
  border-bottom-left-radius: 0.75rem;
  background-color: var(--background-input-color);
  padding: 1.25rem;
  height: 100%;
  box-sizing: border-box;
}

.textEditorWrapper {
  grid-area: textEditor;
  border-bottom: 0.06rem solid var(--color-border);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.textEditorTop {
  flex: 1.03 1 0;
  padding: 1.13rem 1rem 0.88rem 1rem;
  box-sizing: border-box;
  border-bottom: 0.06rem solid var(--border-color);
}

.textEditorBottom {
  flex: 1 1 0;
}

.messageWrapper {
  position: absolute;
  inset: auto 0 0 0;
  padding: 16px;
  box-sizing: border-box;
}

@media (max-width: 64rem) {
  .form {
    aspect-ratio: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "header"
      "fileUpload"
      "textEditor";
  }

  .uploadWrapper {
    border-right: none;
    border-bottom: 0.06rem solid var(--color-border);
  }

  .textEditorTop {
    border-bottom: none;
  }
}
