/* .container {
  max-width: 550px;
  padding: 55px 270px 0 78px;

} */

.profilePage {
  max-width: 930px;
  padding-top: 38px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 75px;
  align-items: flex-start;
}
