.сardFooter {
  width: 350px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  color: var(--primary-color);
  padding: 23px 0;
  border-radius: 3px;
  border: 1px solid var(--border-color);
  text-align: center;
}

.сardFooter p {
  margin: 0;
}

.сardFooter a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 600;
  margin-left: 6px;
  transition: all 0.2s ease;
}

.сardFooter a:hover {
  color: #045fb4;
}
