.profileSection {
  max-width: 705px;
}

.profileTop {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 5.31rem;
  align-items: flex-end;
}

.avatarWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.contentArea {
  display: flex;
  flex-direction: column;
  max-width: 434px;
  /* gap: 1.5rem; */
}

.headline {
  display: flex;
  align-items: center;
  gap: 1.38rem;
  margin-bottom: 1.75rem;
}

.handle {
  text-decoration: none;
  font-size: 1.25rem;
  color: var(--color-text-primary);
  text-wrap-mode: nowrap;
}

.followButton {
  border-radius: 0.5rem;
  font-size: 14px;
  padding: 0.5rem 3rem;
}

.actionButton {
  width: auto;
  padding: 0.5rem 3.13rem;

  font-weight: 600;
}

.stats {
  font-size: 16px;
  display: flex;
  line-height: 1.1;
  justify-content: space-between;
  gap: 2.5rem;
  margin-bottom: 1.22rem;
}

.statsItem {
  font-weight: 400;
}

.statsNumber {
  font-weight: 600;
}

.about {
  font-size: 14px;
  line-height: 1.3;
  white-space: pre-line;
  margin-bottom: 0.5rem;
}

.toggleAbout {
  border: none;
  background: none;
  padding: 0;
  margin-left: 0.25rem;
  color: var(--secondary-color);
  font-size: 0.88rem;
  font-weight: 400;
  line-height: inherit;
  vertical-align: baseline;
  cursor: pointer;
}

.websiteLink {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600;
  color: #00376b;
}

.websiteLink:visited {
  color: var(--color-link-visited);
}
