.chatItem {
  padding: 0.5rem 1.5rem;
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  background-color: #fff;
  border: none;
  text-align: left;
  width: 100%;
}
.chatItem:hover {
  filter: brightness(0.95);
}
.chatItem.active {
  background-color: #efefef;
}

.avatarWrapper {
  width: 3.5rem;
  height: 3.5rem;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.username {
  font-size: 0.9rem;
}

.info {
  font-size: 0.75rem;
  color: var(--color-text-secondary);
}

.preview {
  margin-top: 0.25rem;
  font-size: 0.8rem;
  color: var(--color-text-primary);
}
