.privateLayout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layoutBody {
  display: grid;
  grid-template-columns: 245px 1fr;
  flex: 1;
  width: 100%;
}

.sidebarColumn {
  width: 245px;
  background-color: var(--background-color);
  border-right: 1px solid var(--border-color);
  display: flex;
  position: relative;
  z-index: 20;
}

.sidebarInner {
  position: sticky;
  top: 0;
  align-self: flex-start;
  width: 100%;
  height: 100%;
}

/* .content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.layoutBody {
  display: grid;
  grid-template-columns: 245px 1fr;
  flex: 1;
} */

.content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 89px 123px 0 113px;
}

.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 5;
  pointer-events: none;
}
