.footerCard {
  width: 350px;
  font-size: 14px;
  color: var(--primary-color);
  padding: 23px 0;
  border-radius: 3px;
  border: 1px solid var(--border-color);
  text-align: center;
}

.footerCard p {
  margin: 0;
}

.footerCard a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 600;
  margin-left: 6px;
}

.footerCard a:hover {
  text-decoration: underline;
}
