.input {
  font-family: "Roboto", sans-serif;
  height: 38px;
  padding-left: 8px;
  border-radius: 3px;
  border: 1px solid var(--border-color);
  color: var(--secondary-color);
  background-color: var(--background-input-color);
  outline: none;
}

.input::selection {
  background-color: var(--accent-color);
}

input::placeholder {
  color: var(--secondary-color);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 3;
}

input:focus {
  border-color: var(--accent-color);
  border-width: 2px;
}
