.editProfileForm {
  max-width: 720px;
  margin: 0 auto;
  padding: 48px 24px 124px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: "Roboto", sans-serif;
}

.editProfileForm h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: left;
  white-space: nowrap;
}

.imageRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  background-color: #f7f7f7;
  width: 100%;
  min-height: 88px;
  padding: 24px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  box-sizing: border-box;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.username {
  font-size: 18px;
  font-weight: 700;
  color: var(--primary-color);
}

.userBio {
  font-size: 13px;
  font-weight: 400;
  color: #666;
  margin-top: 4px;
  max-width: 100%;
}

.fieldLabel {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.inputField,
.textareaField {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
  height: 42px;
  border-radius: 12px;
  margin-top: 10px;
  box-sizing: border-box;
}

.textareaField {
  resize: none;
  height: 96px;
  font-weight: 400;
}

.charCount {
  text-align: right;
  font-size: 12px;
  color: #666;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;
}

.saveButton {
  font-size: 14px;
  width: 268px;
  height: 32px;
  border-radius: 8px;
  font-weight: 400;
}

.uploadButton {
  background-color: #0095f6;
  color: #fff;
  padding: 8px 18px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  width: fit-content;
  min-width: 166px;
  height: 32px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1168px) {
  .editProfileForm {
    padding: 48px 16px 124px;
  }

  .imageRow {
    padding: 20px;
  }

  .saveButton {
    width: 100%;
    max-width: 240px;
  }
}

@media (max-width: 992px) {
  .imageRow {
    flex-direction: column;
    align-items: center;
  }

  .userInfo {
    align-items: center;
    text-align: center;
  }

  .saveButton {
    max-width: 200px;
    align-self: center;
  }
}

@media (max-width: 768px) {
  .editProfileForm {
    padding: 16px;
  }

  .inputField,
  .textareaField {
    font-size: 12px;
  }
}
