.editProfileForm {
  width: 100%;
  max-width: 658px;
  margin: 0 auto;
  padding: 48px 24px 124px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-sizing: border-box;
}

.editProfileForm h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: left;
  white-space: nowrap;
}

.imageRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  width: 100%;
  min-height: 88px;
  padding: 16px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  box-sizing: border-box;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 9px;
  flex: 1;
  margin-left: 16px;
}

.username {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  color: var(--primary-color);
}

.userAbout {
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-color);
  margin-top: 4px;
  max-width: 265px;
}

.fieldLabel {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.inputField,
.textareaField {
  width: 100%;
  padding: 13px 16px;
  border: 1px solid #ddd;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  height: 42px;
  border-radius: 12px;
  margin-top: 10px;
  box-sizing: border-box;
}

.inputWithIcon {
  position: relative;
  display: flex;
  align-items: center;
}

.inputIcon {
  position: absolute;
  top: 25px;
  left: 17px;
  pointer-events: none;
}

.websiteInput {
  padding-left: 36px;
  color: #00376b;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
}

.websiteInput::placeholder {
  color: #00376b;
}

.textareaField {
  resize: none;
  height: 80px;
  font-weight: 400;
}

.charCount {
  text-align: right;
  font-size: 12px;
  color: #666;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;
}

.saveButton {
  font-size: 14px;
  width: 268px;
  height: 32px;
  border-radius: 8px;
  font-weight: 400;
}

.uploadButton {
  background-color: var(--accent-color);
  color: var(--background-color);
  padding: 8px 24px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 1.3;
  cursor: pointer;
  width: fit-content;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1168px) {
  .editProfileForm {
    padding: 48px 16px 124px;
  }

  .imageRow {
    padding: 20px;
  }

  .saveButton {
    width: 100%;
    max-width: 240px;
  }
}

@media (max-width: 992px) {
  .imageRow {
    flex-direction: column;
    align-items: center;
  }

  .userInfo {
    align-items: center;
    text-align: center;
  }

  .saveButton {
    max-width: 200px;
    align-self: center;
  }
}

@media (max-width: 768px) {
  .editProfileForm {
    padding: 16px;
  }

  .inputField,
  .textareaField {
    font-size: 12px;
  }
}
