.avatarWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border-radius: 50%;
  background: linear-gradient(135deg, #fd0123 0%, #f8f009 50%, #f004dd 100%);
  box-sizing: border-box;
  flex-shrink: 0;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #fff;
}

.small {
  width: 40px;
  height: 40px;
}

.medium {
  width: 56px;
  height: 56px;
}

.large {
  width: 96px;
  height: 96px;
}

.extraLarge {
  width: 150px;
  height: 150px;
}
