.avatarWrapper {
  --avatar-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-sizing: border-box;
  flex-shrink: 0;
  width: var(--avatar-size);
  height: var(--avatar-size);
}

.innerWrapper,
.gapRing {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-sizing: border-box;
}

.withGradient {
  padding: 3px;
  width: calc(var(--avatar-size) + 16px);
  height: calc(var(--avatar-size) + 16px);
  background: linear-gradient(135deg, #fd0123 0%, #f8f009 50%, #f004dd 100%);
}

.gapRing {
  padding: 5px;
  background: #fff;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.extraSmall {
  --avatar-size: 27.5px;
}

.small {
  --avatar-size: 40px;
}

.medium {
  --avatar-size: 56px;
}

.large {
  --avatar-size: 96px;
}

.extraLarge {
  --avatar-size: 150px;
}
