.container {
  width: fit-content;
  padding: 55px 270px 73px 78px;
  margin: 0 auto;
}

h1 {
  margin: 0 0 20px;
}

@media (max-width: 1280px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 74px;
  }
}
