.container {
  margin-top: 94px;
  display: flex;
  justify-content: center;
}

.wrappForm {
  padding: 26px 40px;
  border-radius: 3px;
  border: 1px solid var(--border-color);
  margin-bottom: 10px;
}

.logo {
  width: 268px;
}

.img {
  display: flex;
  justify-content: center;
}

.wrappInfo {
  font-size: 14px;
  color: #000000;
  padding: 23px 0;
  border-radius: 3px;
  border: 1px solid var(--border-color);
  text-align: center;
}

.wrappInfo p a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 600;
  margin-left: 6px;
}

.wrappInfo p a:hover {
  text-decoration: underline;
}

.wrappText {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
}

.decorElement {
  font-weight: 600;
  font-size: 13px;
  color: var(--secondary-color);
}

.divider {
  position: relative;
  text-align: center;
  color: var(--secondary-color);
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 22px;
  margin-bottom: 70px;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: var(--border-color);
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.text {
  text-align: center;
}

.text a {
  text-decoration: none;
  color: var(--link-color);
  font-size: 12px;
  line-height: 1.3;
}

.text a:hover {
  text-decoration: underline;
}

.imgWrap {
  width: 380px;
  height: 581px;
  margin-right: 32px;
  margin-top: -7px;
}

.imgWrap img {
  width: 100%;
  height: 100%;
}
