.btn {
  background-color: var(--accent-color);
  font-weight: 600;
  color: var(--background-color);
  padding: 7px 0;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  line-height: 1.3;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: var(--accent-hover-color);
}

.gray {
  background-color: #efefef;
  color: var(--color-text-primary);
}

.gray:hover {
  background-color: #e3e3e3;
}
