.explore {
  width: fit-content;
  max-width: 959px;
  margin: 0 auto;
  padding: 89px 0px 91px 0px;
  display: grid;
  gap: 0.25rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: auto;
  counter-reset: div;
}

.explore div:nth-child(10n + 3),
.explore div:nth-child(10n + 6) {
  grid-row: auto / span 2;
}

.explore.profile div:nth-child(10n + 3),
.explore.profile div:nth-child(10n + 6) {
  grid-row: auto / span 1;
}

@media (max-width: 1280px) {
  .explore {
    padding: 72px 72px 72px 80px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 768px) {
  .explore {
    padding: 48px 32px;
    grid-template-columns: 1fr;
  }
}
