.explore {
  width: 100%;
  margin-inline: auto;
  padding: 89px 113px 89px 123px;
  display: grid;
  gap: 0.25rem;
  grid-template-columns: repeat(3, 316.99px);
  grid-auto-rows: 316.99px;
  counter-reset: div;

  height: 100%;
  overflow-y: auto;
}

.explore div:nth-child(10n + 3),
.explore div:nth-child(10n + 6) {
  grid-row: auto / span 2;
}

.explore.profile div:nth-child(10n + 3),
.explore.profile div:nth-child(10n + 6) {
  grid-row: auto / span 1;
}
