.explore {
  width: 100%;
  max-width: 931px;
  margin: 0 auto;
  padding: 0px 0px 91px 0px;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(3, 307.66px);
  grid-auto-rows: 307.66px;
  justify-content: center;
  counter-reset: div;
}

.explore div:nth-child(10n + 3),
.explore div:nth-child(10n + 6) {
  grid-row: auto / span 2;
}

.explore.profile div:nth-child(10n + 3),
.explore.profile div:nth-child(10n + 6) {
  grid-row: auto / span 1;
}

@media (max-width: 1280px) {
  .explore {
    padding: 72px 72px 72px 80px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: auto;
  }
}

@media (max-width: 768px) {
  .explore {
    padding: 48px 32px;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
}
